*{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size:2 rem;
}
.button{
    border: none;
    border-radius: 20%;
   color: rgb(6, 76, 133);
   height: 10%;
   width: 10%;

}
.button:hover{
    animation: forwards;
    color: aqua;
}